/* General Styles */
.navbar {
  position: fixed;
  top: 0;
  width: calc(100% - 2rem);
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space between logo, menu, and bag button */
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  box-sizing: border-box;
}

.navbar-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.navbar-left .navbar-logo img {
  height: 1.4rem; /* Logo size */
}

/* Navbar Menu (Center links) */
.navbar-menu {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.navbar-menu ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navbar-menu ul li a {
  font-family: var(--font-secondary);
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

.navbar-menu ul li a:hover {
  color: #ff036c;
}

/* Your Bag Button (Right Side) */
.bag-button {
  background-color: #ff036c;
  color: white;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: bold;
  font-family: var(--font-secondary);
}

.bag-button:hover {
  background-color: #e5005a;
}

/* Hamburger (Mobile) */
.hamburger {
  display: none;
  background-color: #ff036c;
  border: none;
  font-size: 1.2rem;
  color: white;
  padding: 0.1rem 1.5rem;
  border-radius: 5px; 
  cursor: pointer;
}

/* Dropdown Menu (For mobile screens) */
.dropdown-menu {
  position: fixed;
  top: 0;
  right: -300px; /* Initially hidden off-screen */
  width: 250px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 3rem; /* To provide space for the logo */
  transition: right 0.3s ease-in-out;
}

.dropdown-menu.open {
  right: 0; /* Slide in when open */
}

.dropdown-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0;
}

.dropdown-menu ul li a {
  font-family: var(--font-secondary);
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

.dropdown-menu ul li a:hover {
  color: #ff036c;
}

/* Hide Menu and Bag Button on Small Screens */
@media (max-width: 768px) {
  /* Hide large screen elements on small screens */
  .navbar-menu {
    display: none;
  }

  .bag-button {
    display: none;
  }

  /* Display Hamburger Button on small screens */
  .hamburger {
    display: block;
  }
}
